*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    list-style: none;
    text-decoration: none;
}
body
{
    background-color: black;
    color: white;
}
.Main
{
    height: 100vh; 
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 26%, rgba(255,255,255,1) 26%);
    position:relative;
    
}
h1
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
}
nav .logo
{
    color: aliceblue;
    font-size: 40px;
    letter-spacing: 1px;
}
.kontent
{
    position: absolute;
    top: 35%;
    left: 50%;
    color: black
}
button
{
    
    background: #808080;
    padding: 5px 16px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
button:hover
{
    transform: scale(1.2);
    transition: .4s;
    cursor: pointer;
}
h2
{
    color: #121212;
    font-size: 85px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}
p
{
    color: #808080;
    font-size: 17px;
    line-height: 25px;
}
.img
{
    position: absolute;
    top: 25%;
    left: 17%;
}
.img img
{
    width: 450px;
    height: 410px;
    object-fit: cover;
    border-radius: 50px;
}
.polubienia
{
    position:absolute;
    left: 4%;
    bottom: 45px;
}
.polubienia a
{
    color: #989898;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 17px;
}
.praca
{
    position: absolute;
    top: 50%;
    right: -85px;
    transform: rotate(90deg);
}
.praca a
{
    color: #121212;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 15px;
    text-decoration: none;
}
.koniec
{
    position: absolute;
    right: 4%;
    bottom: 45px;
}
.koniec a 
{
    color: #121212;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
h3
{
    margin-top: 20px;
    font-size: 20px;
}
button a
{
    color:white;
}